.sign-wrap-1 {
    background: #9418a0/*#8b00ff*/;
    text-align: center;
    padding: 60px 20px;
    border-radius: 40px;
     /*свечение*/
     border: -1px solid #000;
    box-shadow:0 0 20px #555;
}
.sign-wrap-1 .sign_word {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}


/*Второй текст*/
.sign-wrap-2 {
    background: #9418a0    /*#337AB7*/;
    text-align: /*center*/;
    padding: 60px 20px;
    border-radius: 40px;
    border: -1px solid #000;
    box-shadow:0 0 20px #555;
}
.sign-wrap-2 .sign_word {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    animation: 2s neon-2 alternate-reverse infinite;
    border-radius: 40px;
}
/*Третий текст*/
.sign-wrap-3 {
    background: #9418a0;
    text-align: center;
    padding: 60px 20px;
}
.sign-wrap-3 .sign_word {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    animation: neon-3 5s steps(1, start) infinite reverse;
}

/*ЛИНИЯ 1*/
.sign-wrap-4 {
    background: #9418a0    /*#337AB7*/;
    text-align: /*center*/;
    padding: 5px 20px;
    border-radius: 10px;
}
.sign-wrap-4 .sign_word {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    animation: 2s neon-2 alternate-reverse infinite;
    border-radius: 40px;
}
/*Третий текст*/
.sign-wrap-3 {
    background: #9418a0;
    text-align: center;
    padding: 06px 35px;
}
.sign-wrap-3 .sign_word {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    animation: neon-3 5s steps(1, start) infinite reverse;
}

/*Неоновая бегущая строка*/
.neonText {
  color: #000000;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
}

/* Additional styling */
  
body {
  font-size: 30px;
  font-family: "Vibur", sans-serif;
  background-color: #010a01;
}  

h1, h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 40;
}
  
h1 {
    font-size: 10rem;
}
  
h2 {
    font-size: 5rem;
}

.container {
  margin-top: 1vh;
}


/*Список уроков текст*/
.sign-wrap-5 {
    background: #9418a0    /*#337AB7*/;
    text-align: /*center*/;
    padding: 60px 20px;
    border-radius: 40px;
    box-shadow: inset 0 0 8px 2px rgba(0,0,.75);
}
.sign-wrap-5 .sign_word {
    background: #9418a0;
    text-align: center;
    padding: 60px 20px;
    border-radius: 40px;
     box-shadow: inset 0 0 8px 2px rgba(0,0,.75);
}
.sign-wrap-1 .sign_word {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
@keyframes neon-1 {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(191, 226, 255, 0.52), 0 0 21px rgba(191, 226, 255, 0.92), 0 0 34px rgba(191, 226, 255, 0.78), 0 0 54px rgba(191, 226, 255, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(191, 226, 255, 0.52), 0 0 22px rgba(191, 226, 255, 0.92), 0 0 38px rgba(191, 226, 255, 0.78), 0 0 60px #FFF;
    }
}

.sign-wrap-7 {
    background: #9418a0;
    text-align: center;
    padding: 30px 20px;
    border-radius: 40px;
    border: -1px solid #000;
    box-shadow:0 0 20px #555;
}
.sign-wrap-7 .sign_word {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    animation: neon-3 5s steps(1, start) infinite reverse;
}
@keyframes neon-7 {
    0%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    80%{
        color: #fff;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    81%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    82%{color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    83%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    84%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    85%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    100%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960,0 0 8px #0b3960;
    }
}

.sign-wrap-8 {
    background: #9418a0;
    text-align: center;
    padding: 30px 20px;
    border-radius: 40px;
    border: -1px solid #000;
    box-shadow:0 0 20px #555;
    border: -1px solid #000;
    box-shadow:0 0 20px #555;
}
.sign-wrap-8 .sign_word {
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    animation: neon-3 5s steps(1, start) infinite reverse;
}
@keyframes neon-8 {
    0%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    80%{
        color: #fff;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    81%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    82%{color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    83%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    84%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    85%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    100%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960,0 0 8px #0b3960;
    }
}

.banana {
    margin-top: 20px;
}
.sign-wrap-9 {
    background: #9418a0;
    text-align: center;
    padding: 10px 20px;
    border-radius: 40px;
    width: 140px;
    border: -1px solid #000;
    box-shadow:0 0 20px #555;
}
.sign-wrap-9 .sign_word {
    font-size: 25px;
    font-weight: bold;
    line-height: 40px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    animation: neon-3 5s steps(1, start) infinite reverse;
}
@keyframes neon-9 {
    0%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    80%{
        color: #fff;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    81%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    82%{color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    83%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    84%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    85%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    100%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960,0 0 8px #0b3960;
    }
}

.sign-wrap-1 {
    background: #9418a0;
    text-align: center;
    padding: 50px 20px;
    border-radius: 40px;
    
}
.sign-wrap-1 .sign_word {
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
   
}
@keyframes neon-1 {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(191, 226, 255, 0.52), 0 0 21px rgba(191, 226, 255, 0.92), 0 0 34px rgba(191, 226, 255, 0.78), 0 0 54px rgba(191, 226, 255, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(191, 226, 255, 0.52), 0 0 22px rgba(191, 226, 255, 0.92), 0 0 38px rgba(191, 226, 255, 0.78), 0 0 60px #FFF;
    }
}



/* Additional styling */
  
body {
  font-size: 30px;
  font-family: "Vibur", sans-serif;
  background-color: #000000;
}  

h1, h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 40;
}
  
h1 {
    font-size: 10rem;
}
  
h2 {
    font-size: 5rem;
}

.container {
  margin-top: 1vh;
}


/*Список уроков текст*/
.sign-wrap-5 {
    background: #9418a0    /*#337AB7*/;
    text-align: /*center*/;
    padding: 60px 20px;
    border-radius: 40px;
    box-shadow: inset 0 0 8px 2px rgba(0,0,.75);
}
.sign-wrap-5 .sign_word {
    background: #8b00ff;
    text-align: center;
    padding: 60px 20px;
    border-radius: 40px;
     box-shadow: inset 0 0 8px 2px rgba(0,0,.75);
}
.sign-wrap-1 .sign_word {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
@keyframes neon-1 {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(191, 226, 255, 0.52), 0 0 21px rgba(191, 226, 255, 0.92), 0 0 34px rgba(191, 226, 255, 0.78), 0 0 54px rgba(191, 226, 255, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(191, 226, 255, 0.52), 0 0 22px rgba(191, 226, 255, 0.92), 0 0 38px rgba(191, 226, 255, 0.78), 0 0 60px #FFF;
    }
}

.sign-wrap-7 {
    background: #9418a0;
    text-align: center;
    padding: 30px 20px;
    border-radius: 40px;
}
.sign-wrap-7 .sign_word {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    animation: neon-3 5s steps(1, start) infinite reverse;
}
@keyframes neon-7 {
    0%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    80%{
        color: #fff;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    81%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    82%{color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    83%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    84%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    85%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    100%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960,0 0 8px #0b3960;
    }
}

.sign-wrap-8 {
    background: #9418a0;
    text-align: center;
    padding: 30px 20px;
    border-radius: 40px;
}
.sign-wrap-8 .sign_word {
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    animation: neon-3 5s steps(1, start) infinite reverse;
}
@keyframes neon-8 {
    0%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    80%{
        color: #fff;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    81%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    82%{color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    83%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    84%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    85%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    100%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960,0 0 8px #0b3960;
    }
}

.banana {
    margin-top: 20px;
}
.sign-wrap-9 {
    background: #9418a0;
    text-align: center;
    padding: 10px 20px;
    border-radius: 40px;
    width: 140px;
    margin-right: 3000px;
}
.sign-wrap-9 .sign_word {
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    animation: neon-3 5s steps(1, start) infinite reverse;;
}
@keyframes neon-9 {
    0%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    80%{
        color: #fff;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    81%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    82%{color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    83%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    84%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    85%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    100%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960,0 0 8px #0b3960;
    }
}



/* Logo */
.logo{
  width: 35px;
  height: 35px;
  background: #331b63;
  margin: 40px 63px;
  float: left;
  margin-top: -28%;
  position: inherit;
  box-shadow: 1px 1px;
  margin-left: 20px;
}
.logo span{
  color: #ffffff;
  font-size: 50px;
  line-height: 1.4;
  padding-left: 5px;
  font-weight: bold;
  margin-top: -28%;
  position: inherit;
}

.sign-wrap-10 {
    background: #9418a0;
    text-align: center;
    padding: 10px 20px;
    border-radius: 40px;
    width: 140px;
    margin-right: 3000px;
}
.sign-wrap-10 .sign_word {
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    animation: neon-3 5s steps(1, start) infinite reverse;;
    align-self: center;

}
@keyframes neon-10 {
    0%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    80%{
        color: #fff;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    81%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    82%{color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    83%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    84%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    85%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    100%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960,0 0 8px #0b3960;
    }
}

/*Новости сайта*/
.sign-wrap-11 {
    background: #9418a0    /*#337AB7*/;
    text-align: left;/*center*/;
    padding: 240px 320px;
    border-radius: 40px;
    position: absolute;
    left: 800px;
    bottom: -680px;
    border: -1px solid #000;
    box-shadow:0 0 20px #555;

}
.sign-wrap-11 .sign_word {
    font-size: 40px;
    font-weight: bold;
    margin-left: -180px;
    margin-bottom: 800px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    animation: 2s neon-2 alternate-reverse infinite;
    border-radius: 40px;
    position: absolute;
    top: 20px;

}
/*Новости */
.sign-wrap-12 {
    text-align: left;/*center*/;
    padding: 240px 320px;
    border-radius: 40px;
    position: absolute;
    left: 800px;
    bottom: -680px;

}
.sign-wrap-12 .sign_word {
    font-size: 40px;
    font-weight: bold;
    margin-left: -305px;
    margin-bottom: 800px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    
    animation: 2s neon-2 alternate-reverse infinite;
    border-radius: 40px;
    position: absolute;
    top: 100px;

}

.scrollup {
  position: fixed; /* фиксированная позиция */
  color: #fff; /* цвет текста */
  background-color: #286090; /* цвет заднего фона */
  right: 40px; /* расстояние от правого края */
  bottom: 10px; /* расстояние от нижнего края */
  padding: 4px 10px; /* отступы до содержимого блока */
  font-size: 20px; /* размер шрифта (иконки) */
  border-top-left-radius: 4px; /* скругление верхнего левого угла */
  border-top-right-radius: 4px; /* скругление верхнего правого угла */
  cursor: pointer; /* форма курсора */
  display: none; /* не отображать элемент */
  text-align: center; /*выравнивание содержимого элемента по центру */
}
div.scrollup:hover {
  background-color: #000; /* цвет заднего фона при наведении */
}
